@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
*{
    border:0;
    padding:0;
    margin:0;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

::-webkit-scrollbar {
    background: black;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
h1{
    color:white;
}
h2{
    font-size: 60px;
    background: white;
    padding: 8px 24px;
    border-radius: 16px;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#lols{
height: 100%;
}
#balls{
    font-size: 4vw;
}

#h33{
    padding: 100px 100px;
    font-size: 60px;
    background-color: transparent;
}

div:nth-child(1){
    height: 100vh;
    background-image: url(img/oksssssssssssssss.png);
    background-size: cover;
    background-position-x: center;
}
div:nth-child(2){
    height: 400px;
    background-color:rgb(0, 179, 255);
}
div:nth-child(4){
    font-size:5vw;
    height: 400px;
    background-image: url(img/D.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-width: 100%;
}
div:nth-child(5){
    height: 100vh;
    background-color:rgb(43, 43, 43);
}

div:nth-child(3){
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-image: url(img/bbground.jpeg);
    background-size:contain;
   background-position: center;
   
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #181818;
    background-color: transparent;
    text-decoration: underline;
}
