.social-icons {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 90%;
}

h1 {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    text-decoration: underline;
}

.socials1{
    border:solid;
    transition: transform .1s ease-in-out;
    transform-origin: center;
    border-color: white;
    border-radius: 20px;
}
.socials1:hover{
    filter: blur(1px);
    transform: scale(125%);
}
.socials1{
    border:solid;
    transition: transform .1s ease-in-out;
    transform-origin: center;
    border-color: white;
    border-radius: 20px;
}
.socials1:hover{
    filter: blur(1px);
    transform: scale(125%);
}
