html, body {
    background-image: radial-gradient(79.75% 134.25% at 95.71% 100%, #000b6b 0, #0057b8 100%);
    transform: translateZ(0);
}
.social-icons {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding-top: 80px;
}

h1 {
    font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}

.socials1{
    border:solid;
    transition: transform .1s ease-in-out;
    transform-origin: center;
    border-color: white;
    border-radius: 20px;
}
.socials1:hover{
    filter: blur(1px);
    transform: scale(125%);
}
.socials1{
    border:solid;
    transition: transform .1s ease-in-out;
    transform-origin: center;
    border-color: white;
    border-radius: 20px;
}
.socials1:hover{
    filter: blur(1px);
    transform: scale(125%);
}
