@font-face {
 font-family: 'Rubik';
 src: url(Rubik-VariableFont_wght.ttf) format('truetype');
 font-weight: 100 900;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.socials {
  border: none;
  width: 60px;
  height: 60px;
  transition: transform .1s ease-in-out;
  transform-origin: center;
}

.socials:hover {
  filter: blur(1px) grayscale(50%);
  transform: scale(1.25);
}

p {
    font-weight: 500;
    color: #666666;
}

li {
    display: inline;
    padding: 10px;
}

.active {
    color: #888888;
    text-decoration: underline;
    text-decoration-color: #888888;
}

a {
    color: #666666;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #222222;
}

a:hover{
    color: #888888;
    text-decoration-color: #888888;
}

html, body{
    color: #666666;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle at 76% 26%, #171717 0, #111111 57%, #111111 100%);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

::-moz-selection {
  color: #888888;
  background: transparent;
}

::selection {
  color: #888888;
  background: transparent;
}

.title{
    font-size: 100px;
}

.menubar a {
    font-size: 20px;
} 

.test {
    text-align: center;
}

.images img {
    display: inline-block;
    width: auto;
    height: 250px;
    cursor: zoom-in;
    transition: opacity 0.5s ease;
}

.hi-res {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.low-res {
    filter: grayscale();
}

.img-wrapper {
    position: relative;
    display: inline-block;
    height: 250px;
}

#overlayImg {
    cursor: zoom-out;
}

ul{
    padding-inline-start: 0;
}

@media (max-width: 720px) {
    .title{
    font-size: 50px;
    }
    p {
    font-size: 10px;
    }
    .menubar a {
        font-size: 10px;
    } 
}
@media (min-width: 721px) {
    .test {
        padding-top: 25vh;
        margin-bottom: 40px; 
    }
}